parameters:
    git_dir: .
    bin_dir: ./vendor/bin # depends on project configuration
    ascii:
    tasks:
        git_blacklist:
            keywords:
                - '(var_)?dump\(.*\);*'
                - 'die(;|\(.*\));*'
                - 'exit(;|\(.*\));*'
            regexp_type: P
            triggered_by:
                - 'php'
                - 'twig'
        phpcs:
            standard: './vendor/nascom/grumphp-symfony/src/CodingStandards/Symfony'
        phpstan:
            level: 1
            ignore_patterns:
                - '/.*DoctrineMigrations.*\.php/'
